<h1>Edit your entry here!</h1>

<form method="POST" action=transacList.ejs>
    <input type="text" id="description" name="description" placeholder="description"><br>
    <input type="text" id="category" name="category" placeholder="category"><br>
    <input type="number" id="amount" name="amount" placeholder="amount"><br>
    <input type="date" id="date" name="date" placeholder="date"><br>
    <input type="submit" value="update">
</form>