
  <div class="jumbotron">
    <h1> Transactions List for <%= user.googlename %> </h1>
    <p> Here is your list of transactions! </p>

      <% things.forEach(thing => { %>
           <a href="/transaction/remove/<%=thing._id %>">X</a>
           ::
           <%= thing.description %>
          <br>
      <% }) %>

      <form method="post" action="transaction">
          new item: <input type="text" name="item"><br>
          <input type="submit" value="store">
      </form>

  </div>
